#metagento_notification_metagento_introduction {
  display: block !important;
  background: #f8f8f8;
  padding: 15px;
}

#metagento_notification_metagento_introduction-head::before {
  content: "";
}

.item-metagento a::before {
  color: transparent;
  background-image: url('../Metagento_NewsletterDiscountPro/css/images/metagento-icon-wide.png');
  background-repeat: no-repeat;
  background-size: 77px 50px;
}

.config-nav .metagento-extensions .title strong::before {
  content: '\e777';
  color: transparent;
  background-image: url('../Metagento_NewsletterDiscountPro/css/images/metagento-icon-wide.png');
  background-repeat: no-repeat;
  background-size: 30px 17px;
  display: inline-block;
  height: 17px;
  width: 30px;
}